@font-face {
  font-family: "iosevka-etoile";
  src: url("/assets/fonts/IosevkaEtoile-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "iosevka-etoile";
  src: url("/assets/fonts/IosevkaEtoile-Medium.woff2") format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: "iosevka-etoile";
  src: url("/assets/fonts/IosevkaEtoile-Italic.woff2") format('woff2');
  font-style: italic;
}

body {
    font-family: "iosevka-etoile";
    margin-top: 4.67em;
}

blockquote {
    font-style: italic;
}

blockquote code {
    font-style: normal;
}

.box {
    margin: auto;
    font-size: 1em;
    background-color: #00000080;
}

p { color: #d6d6d6; }
li { color: #d6d6d6; }

p > code { color: #E6DB74; background: #00000031; }

h1 {
    text-decoration-color: #F92672;
    text-decoration-color: #F92672;
    text-shadow: .05em .05em 2px #f92672;
}

h2 {
    text-decoration-color: #F92672;
    text-decoration-color: #F92672;
    text-shadow: .05em .05em 2px #f92672;
}

h3 {
    text-decoration-color: #F92672;
    text-decoration-color: #F92672;
    text-shadow: .05em .05em 2px #f92672;
}

.main-content {
    width: 52.1875rem;
    margin: auto;
}

mastodon-comments {
    --font-color: #999FAD;
    --block-background-color: #00000080;
    --block-border-width: 0px;
    --block-border-radius: 0px;
}

.mastodon-comment {
    backdrop-filter: blur(10px);
}

.mastodon-comment .status a { color: #5d686f !important; }

.mastodon-comment .status .replies a:hover { color: #9e86c8 !important; }
.mastodon-comment .status .reblogs a:hover { color: #a6e22e !important; }
.mastodon-comment .status .favourites a:hover { color: #e87d3e !important; }
