@font-face {
  font-family: "iosevka";
  src: url("/assets/fonts/Iosevka-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "iosevka";
  src: url("/assets/fonts/Iosevka-Medium.woff2") format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: "iosevka";
  src: url("/assets/fonts/Iosevka-SemiBold.woff2") format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: "iosevka-slab";
  src: url("/assets/fonts/IosevkaSlab-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "iosevka-slab";
  src: url("/assets/fonts/IosevkaSlab-Medium.woff2") format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: "iosevka-slab";
  src: url("/assets/fonts/IosevkaSlab-SemiBold.woff2") format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: "iosevka-etoile";
  src: url("/assets/fonts/IosevkaEtoile-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "iosevka-etoile";
  src: url("/assets/fonts/IosevkaEtoile-Medium.woff2") format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: "iosevka-etoile";
  src: url("/assets/fonts/IosevkaEtoile-Italic.woff2") format('woff2');
  font-style: italic;
}

html {
    font-size: 22px;
}

@media screen and (max-width: 1024px) {
    html { font-size: 12px; }
    .show-big { display: none; }
}

@media screen and (max-width: 768px) {
    html { font-size: 8px; }
}

body {
    margin: 0;
    background: #272822;
    font-family: "iosevka-slab", monospace;
    overflow-x: hidden;
}

code {
    font-family: "iosevka-slab", monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a { color: #66D9EF; }

.webring {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.webring > a {
    text-decoration: none !important;
}

.home-button {
    font-size: 0.93rem;
    padding-left: 4em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1C1D19;
    border-bottom: 1px solid #75715E;
    font-weight: bold;
    padding: 0.67em 0em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.home-button{ color: #E6DB74; }

header a { text-decoration: none; color: #75715E; }
a:hover { color: #F92672 }

nav {
    font-size: 0.93rem;
    padding-right: 4em;
}

nav ul {
    display: flex;
    gap: 3.0em;
    align-items: center;
}
nav ul li { float: left; }

body::after {
    content: "";
    background-image: url(/images/background.png);
    background-size: 60%;
    background-position: 2% 20%;
    background-attachment: fixed;
    background-repeat: repeat-y;
    opacity: 0.37;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.footer-warning {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 3em;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: #F92672
}

.container {
    max-width: 52rem;
    margin: auto;
}

.main-container h1 { text-align: center; }

:root {
    color: #E6DB74;
    font-variant-ligatures: normal;
}

.main-container h2 { text-align: center; }

.hero {
    margin: auto;
    margin-top: 3.33em;
    width: fit-content;
    top: 35vh;
    left: 2em;
    color: #E6DB74;
    margin-bottom: 1em;
}

.hero .logo {
    font-weight: bolder;
    font-size: 2em;
    text-shadow: .06em .06em 10px #000000;
}

.box {
    margin-top: 1em;
    background-color: #00000066;
    padding: 1em;
    backdrop-filter: blur(10px);
}

.hero .box { padding: 0.67em; margin-top: 0.67em; }

.box > ul {
    font-size: 1.13rem;
    font-weight: 500;
}

.about {
    font-family: "iosevka-etoile", monospace;
}

.about > h2 {
    margin: 0;
}

.hero a {
    text-decoration: underline;
}

h1 {
    margin: 0;
}

.domain { color: #66D9EF; }

.simple-link {
    text-decoration: none !important;
    color: #E6DB74;
}

p { color: #d6d6d6; }
