@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,1200');

body {
    margin: 0;
    background: #272822;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a { text-decoration: none; color: #66D9EF; }

.home-button {
    font-size: 1.4em;
    padding-left: 4em;
}

header {
    display: flex;
    justify-content: space-between;
    background: #1C1D19;
    border-bottom: 1px solid #75715E;
    font-weight: bold;
    padding: 1em 0em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.home-button{ color: #E6DB74; }

header a { color: #75715E; }
a:hover { color: #F92672 }

nav {
    font-size: 1.4em;
    padding-right: 4em;
}

nav ul { display: flex; }
nav ul li { float: left; }
nav ul li a { padding: 1.5em; }

body::after {
    content: "";
    background-image: url(/images/background.png);
    height: 300vh;
    background-size: 60%;
    background-position: 2% 20%;
    opacity: 0.37;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    background-repeat: repeat-y;
}

.main-container {
    width: 80%;
    margin: auto;
    background-color: #00000066;
    text-align: justify;
    text-justify: inter-word;
    padding: .5em 1em;
    position: relative;
    margin-top: 120vh;
}

.main-container img {
    width: 70%;
    display: block;
    margin: auto;
}

.about {
    width: 100%;
    position: relative;
    margin: auto;
    color: #E6DB74;
}

.footer-warning {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 3em;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: #F92672
}

.main-container h1 { text-align: center; }
.main-container h2 { text-align: center; }

.carousel-container {
    width: 600px;
    border: 5px solid #000000;
    overflow: hidden;
    position: absolute;
    top: 25%;
    right: 7%;
    z-index: 9;
}

.carousel-container img {
    width: 100%;
    height: auto;
}

.carousel-slide {
    display: flex;
    width: 100%;
}

#prevBtn {
    position: absolute;
    top: 45%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: top;
    opacity: .5;
}

#nextBtn {
    position: absolute;
    top: 45%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 50;
    opacity: .5;
}

.logo {
    font-weight: bolder;
    font-size: 3em;
    color: #E6DB74;
    position: absolute;
    top: 35vh;
    left: 2em;
    text-shadow: .06em .06em 10px #000000;
}

.domain { color: #66D9EF; }